.section-title {
  font-size: 2.8rem;
}

.collection-section,
.collections-section {
  position: relative;
}

.collection-section .edit-btn,
.collections-section .create-btn {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.collection-section .edit-btn .btn,
.collections-section .create-btn .btn {
  padding: 0.3rem 0.8rem;
  background-color: var(--light-color);
  font-size: 1.1rem;
}

.collection-section .edit-btn .btn:hover,
.collections-section .create-btn .btn:hover {
  background-color: var(--dark-color);
  color: white;
}

.collection-item .watched,
.collection-item .unwatched {
  position: absolute;
  padding: 0.2rem 0.4rem;
  cursor: pointer;
  opacity: 0.9;
  color: var(--light-color);
}

.collection-item .watched {
  background-color: var(--success-color);
}

.collection-item .unwatched {
  background-color: rgb(158, 158, 158);
}

.collection-info {
  border-bottom: 1px solid var(--primary-color);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.collection-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.collection-form .fa-arrow-up {
  margin-left: 0.4rem;
}

.collection-form .fa-arrow-down {
  padding-left: 0.2rem;
}

.collection-form .fas {
  font-size: 0.9rem;
  cursor: pointer;
  opacity: 0.5;
}

.collection-form .active {
  opacity: 1;
}

.collections {
  display: flex;
  flex-direction: column;
}

.collections .collection-item {
  display: flex;
  background-color: var(--dark-color);
  box-shadow: 1px 2px 5px -1px rgba(0, 0, 0, 0.51);
  color: var(--light-color);
  margin: 0.5rem 0;
  position: relative;
}

.collections .collection-item:nth-of-type(even) {
  background-color: var(--primary-color);
  color: black;
}

.collections .collection-item .poster {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem 1rem;
}

.collections .collection-item .poster img {
  max-width: 120px;
  height: 100%;
}

.collections .collection-item .info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 1rem;
}

.collections .collection-item .info .btn {
  background-color: var(--primary-color);
}

.collections .collection-item:nth-of-type(even) .info .btn {
  background-color: var(--light-color);
  margin-top: 1rem;
}

.collections .collection-item .info .btn:hover {
  background-color: var(--light-color);
  color: black;
}

.collections .collection-item:nth-of-type(even) .info .btn:hover {
  background-color: var(--dark-color);
  color: white;
}

.collections .collection-item .delete {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0.75rem;
  background-color: var(--danger-color);
  box-shadow: 1px 2px 3px -1px rgba(0, 0, 0, 0.51);
  color: white;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  transition: 0.5s;
}

.collections .collection-item .delete:hover {
  height: 57px;
  width: 57px;
  font-size: 1.2rem;
}

@media screen and (max-width: 890px) {
  .discover .collections .collection-item .info p:first-of-type {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }

  .discover .collections .collection-item .info p:nth-of-type(2) {
    display: none;
  }
}

@media screen and (max-width: 680px) {
  .section-title {
    font-size: 2.5rem;
  }

  .collection-section .edit-btn,
  .collections-section .create-btn {
    margin-top: 0.9rem;
  }

  .collection-section .edit-btn .btn,
  .collections-section .create-btn .btn {
    font-size: 1rem;
  }

  .collections-section .create-btn .btn span {
    display: none;
  }

  .collections .collection-item .poster img {
    max-width: 200px;
  }
}

@media screen and (max-width: 500px) {
  .section-title {
    font-size: 2rem;
  }

  .collection-section .edit-btn,
  .collections-section .create-btn {
    margin-top: 0.4rem;
  }

  .collection-section .edit-btn .btn,
  .collections-section .create-btn .btn {
    font-size: 1rem;
  }

  .collection-section .edit-btn .btn span {
    display: none;
  }

  .collections .collection-item .poster img {
    max-width: 100px;
  }
}

@media screen and (max-width: 325px) {
  .section-title {
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  .collection-section .edit-btn,
  .collections-section .create-btn {
    margin: 0.3rem 1rem 0 0;
  }

  .collection-section .edit-btn .btn,
  .collections-section .create-btn span {
    font-size: 0.8rem;
  }

  .collection-info {
    padding: 0 1rem 1rem 1rem;
  }

  .collection-form {
    padding: 0 1rem 1rem 1rem;
  }

  .collections .collection-item {
    display: flex;
    margin: 0;
  }
}
