.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 1rem;
  position: fixed;
  width: 100vw;
  z-index: 10;
  background-color: rgb(255, 255, 255);
  opacity: 0.9;
  top: 0;
}

.navbar a,
.navbar .drop-btn {
  color: black;
  padding: 0.45rem;
  margin: 0 0.25rem;
  font-size: 1.5rem;
}

.navbar a:hover {
  color: var(--primary-color);
}

.navbar a .fas {
  font-size: 1.3rem;
}

.navbar .drop-btn {
  border: none;
  background: none;
  cursor: pointer;
}

.navbar .dropdown {
  position: relative;
  display: inline-block;
}

.navbar .dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.navbar .dropdown-content a {
  font-size: 1.3rem;
}

.navbar .dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

.navbar .brand {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  margin-right: 1rem;
}

.navbar .brand:hover {
  opacity: 0.8;
}

.navbar .brand img {
  width: 60px;
  height: auto;
  margin-right: 0.25rem;
}

.navbar .nav-links {
  display: flex;
  position: absolute;
  right: 0;
  margin-right: 1rem;
}

.navbar .searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .searchbar input[type='text'] {
  padding: 0.5rem;
  height: 40px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-right: none;
  width: 380px;
}

.navbar .searchbar button {
  float: right;
  height: 40px;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-left: none;
  background-color: var(--primary-color);
}

@media screen and (max-width: 890px) {
  .navbar .searchbar input[type='text'] {
    height: 35px;
    width: 200px;
  }

  .navbar .searchbar button {
    height: 35px;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 680px) {
  /* Navbar */
  .navbar a {
    color: black;
    padding: 0.45rem;
    margin: 0 0.25rem;
    font-size: 1.3rem;
  }

  .navbar a:hover {
    color: var(--primary-color);
  }

  .navbar .brand {
    font-size: 1.8rem;
    letter-spacing: 3px;
  }
}

@media screen and (max-width: 500px) {
  .navbar a,
  .navbar .drop-btn {
    padding: 0.45rem;
    margin: 0 0.1rem;
    font-size: 1rem;
  }

  .navbar .brand {
    font-size: 1rem;
    letter-spacing: 3px;
  }
}

@media screen and (max-width: 375px) {
  .navbar {
    padding: 0.5rem 0.3rem;
  }

  .navbar .brand img {
    width: 40px;
    margin-right: 0rem;
  }

  .navbar .searchbar input[type='text'] {
    height: 30px;
    width: 140px;
  }

  .navbar .searchbar button {
    height: 30px;
    font-size: 0.8rem;
  }

  .navbar a,
  .navbar .drop-btn {
    padding: 0.3rem;
  }
}
