.discover h1 {
  font-size: 2.8rem;
}

.discover .collections {
  display: flex;
  flex-direction: column;
}

.discover .collections .collection {
  display: flex;
  background-color: var(--dark-color);
  color: var(--light-color);
  margin: 0.5rem 0;
}

.discover .collections .collection:nth-of-type(even) {
  background-color: var(--primary-color);
  color: black;
}

.discover .collections .collection .poster {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem 1rem;
}

.discover .collections .collection .poster img {
  max-width: 120px;
  height: 100%;
}

.discover .collections .collection .info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 1rem;
}

.discover .collections .collection .info .btn {
  background-color: var(--primary-color);
}

.discover .collections .collection:nth-of-type(even) .info .btn {
  background-color: var(--light-color);
  margin-top: 1rem;
}

.discover .collections .collection .info .btn:hover {
  background-color: var(--light-color);
  color: black;
}

.discover .collections .collection:nth-of-type(even) .info .btn:hover {
  background-color: var(--dark-color);
  color: white;
}

@media screen and (max-width: 890px) {
  .discover .collections .collection .info p:first-of-type {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }

  .discover .collections .collection .info p:nth-of-type(2) {
    display: none;
  }
}

@media screen and (max-width: 680px) {
  .discover h1 {
    font-size: 2.5rem;
  }

  .discover .collections .collection .poster img {
    max-width: 200px;
  }
}

@media screen and (max-width: 500px) {
  .discover h1 {
    font-size: 2rem;
  }

  .discover .collections .collection .poster img {
    max-width: 100px;
  }
}

@media screen and (max-width: 325px) {
  .discover h1 {
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  .discover .collections .collection {
    display: flex;
    margin: 0;
  }
}
