/* Global Styles */
:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

@import url('https://fonts.googleapis.com/css?family=Sulphur+Point&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Sulphur Point', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-color);
  padding: 1rem;
  border-bottom: solid 1px var(--primary-color);
}

.navbar a {
  color: var(--light-color);
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: var(--primary-color);
}

.navbar .brand {
  font-size: 1.3rem;
}

.navbar .nav-links {
  display: flex;
}
