/* Global Styles */
:root {
  --primary-color: #ffbb00;
  --dark-color: #494844;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

@import url('https://fonts.googleapis.com/css?family=Sulphur+Point&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Sulphur Point', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: white;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.btn {
  display: inline-block;
  cursor: pointer;
  padding: 0.25rem 1rem;
  border: none;
  font-size: 1rem;
  box-shadow: 1px 2px 5px -1px rgba(0, 0, 0, 0.51);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
}

.navbar a {
  color: black;
  padding: 0.45rem;
  margin: 0 0.25rem;
  font-size: 1.2rem;
}

.navbar a:hover {
  color: var(--primary-color);
}

.navbar .brand {
  font-size: 1.5rem;
}

.navbar .nav-links {
  display: flex;
  margin-right: 2rem;
}

/* Landing */
.landing {
  height: 100vh;
  position: relative;
}

.landing-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

.landing .vhs {
  max-width: 1000px;
  height: auto;
}

.landing .landing-info {
  position: absolute;
  z-index: 1;
  color: var(--light-color);
  text-align: center;
}

.landing .landing-info h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.landing .btn-container {
  display: flex;
  justify-content: center;
}

.landing .btn-container .btn {
  margin: 0.75rem;
}

.landing .btn-container .btn:hover {
  background-color: var(--primary-color);
}
