.forms {
  max-width: 800px;
  margin: 0 auto;
}

.forms h1 {
  font-size: 3rem;
}

.forms .lead {
  font-size: 1.5rem;
}

.forms .form {
  padding-bottom: 2rem;
}

.forms .form .form-group {
  margin: 1.2rem 0;
}

.forms .form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.forms .form input[type='text'],
.forms .form input[type='email'],
.forms .form input[type='password'],
.forms .form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.forms .form textarea {
  font-size: 1.1rem;
  height: 150px;
}

.forms .form input[type='submit'],
button {
  font: inherit;
  background-color: var(--primary-color);
}

.forms .form input[type='submit']:hover {
  background-color: var(--dark-color);
  color: var(--light-color);
}

.forms .redirect {
  margin-top: 1rem;
}

.forms .redirect a {
  color: var(--primary-color);
}

@media screen and (max-width: 375px) {
  .forms h1 {
    font-size: 2.5rem;
  }

  .forms .lead {
    font-size: 1.2rem;
  }

  .forms .form .form-group {
    margin: 1rem 0;
  }
}
